body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-span {
  font-size: 15px;
}
.logo {
  font-weight: bold;
}
.section-container {
  position: relative;
}
.carousel-item {
  height: 800px;
  width: 100%;
  background-size: cover;
  background: no-repeat;
  /* transition: 'all 0s ease 0s'; */
}
.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.carousel-caption {
  bottom: 290px;
  font-weight: bold;
}
.carousel-heading {
  font-family: 'Courier New';
}
.fa-truck-fast {
  padding: 28px;
}
/* .container-sub-hero {
  padding-left: 35px;
} */
.fa-apple-whole {
  padding: 36px;
  background-color: rgb(84, 99, 84);
}
.fa-award {
  padding: 36px;
  background-color: skyblue;
}
.fa-headset {
  padding: 31px;
  background-color: olive;
}
.category-row {
  margin-top: 70px;
}
.category-text {
  width: 85px;
  padding: 5px 15px;
  position: absolute;
  text-decoration: none;
  color: white;
  margin-top: 256px;
}
.category-row2 {
  height: 300px;
  width: 100%;
}
.category-text3 {
  width: 89px;
  padding: 5px 15px;
  position: absolute;
  margin-top: 256px;
}
.category-text2 {
  width: 143px;
  padding: 5px 15px;
  position: absolute;
  margin-top: 256px;
}
.category-text4 {
  width: 143px;
  padding: 5px 15px;
  position: absolute;
  margin-top: 256px;
}
.btn-success {
  font-weight: bold;
}
.card:hover {
  transform: scale(1.1);
}
.view-btn:hover {
  color: yellow;
  background-color: orange;
}
.px-2 {
  padding: 5px 15px;
}
.hero-two-text {
  font-size: 45px;
  font-family: 'Arial Narrow Bold';
  margin-top: 50px;
}

@media (max-width: 1224px) {
  .carousel-item {
    height: 600px;
    width: 100%;
  }
}
/* @media (max-width: 1198px) {
  .card-products {
    justify-content: center;
  }
} */
@media (max-width: 1066px) {
  .carousel-heading {
    font-size: 35px;
  }
}
@media (max-width: 928px) {
  .carousel-item {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .category-container {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
@media (max-width: 641px) {
  .carousel-item {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 471px) {
  .carousel-item {
    height: 200px;
    width: 100%;
  }
}
